body{
    background:url("../images/background.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
}
ul {
    width: 250px;
    height: 250px;
    position:absolute;
    left:25%;
    margin-left: -75px;
    bottom: 200px;
    transform-style: preserve-3d;
    animation:loopR 8s linear 0s infinite normal;
}
@keyframes loopR  {
    from{
        transform: rotateX(-20deg) rotateY(0deg);
    }
    to{
        transform: rotateX(-20deg) rotateY(360deg);
    }
}
ul li{
    width: 250px;
    height: 250px;
    list-style: none;
    position: absolute;
    top: 0;
    left:0;
    background-color: #000;
}
ul:hover {
    animation-play-state: paused;
}
ul:hover li{
    opacity: 0.5;
}
ul li:hover{
    opacity: 1;
    border: 2px solid skyblue;
}
ul li:hover span{
    display: inline-block;
}
ul li:nth-child(1){
    transform: rotateY(72deg)  translateZ(
            200px);
}
ul li:nth-child(2){
    transform: rotateY(144deg) translateZ(
            200px);
}
ul li:nth-child(3){
    transform: rotateY(216deg) translateZ(
            200px);
}
ul li:nth-child(4){
    transform: rotateY(288deg) translateZ(
            200px);
}
ul li:nth-child(5){
    transform: rotateY(360deg) translateZ(
            200px);
}
ul li span{
    display: none;
    color:orangered;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
}
ul li img  {
    width: 250px;
    height: 250px;
}
img.heart{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 100px;
    left:100px;
    animation: fly 10s linear 0s infinite normal;
}
@keyframes fly {
    0%{
        bottom: 100px;
        left:100px;
        opacity:1;
    }
    20%{
        bottom:400px;
        left:400px;
        opacity: 0.5;
    }
    40%{
        bottom: 700px;
        left:800px;
        opacity:1;
    }
    60%{
        bottom:400px;
        left:1100px;
        opacity: 0.5;
    }
    80%{
        bottom: 200px;
        left:800px;
        opacity:1;
    }
    100%{
        bottom:-100px;
        left:400px;
        opacity: 0.5;
    }
}