<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Draw A Rounded Rectangle in Canvas</title>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0, maximum-scale=1.0,user-scalable=0"
    />
    <link
      href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/dateless/assets/script/ie10-viewport-bug-workaround.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
    <style>
      body {
        padding-bottom: 100px;
      }
    </style>
  </head>
  <body>
    <h3>A basic context</h3>
    <div class="text-center">
      <canvas id="canvas1"></canvas>
    </div>
    <script>
      //    skill no.1
      (function () {
        var canvas = document.querySelector('#canvas1');
        var c = canvas.getContext('2d');
        console.log(c);
      })();
    </script>
    <h3>Drawing on Canvas</h3>
    <p>Canvas Objects</p>
    <ul>
      <li>Rectangles</li>
      <li>Lines</li>
      <li>Arcs/ Circles</li>
      <li>Bezier Curves</li>
      <li>Images</li>
      <li>Text</li>
    </ul>
    <div class="text-center">
      <canvas id="canvas2" height="300"></canvas>
    </div>
    <script>
      //   skill no.2 drawing on the canvas
      (function () {
        var canvas = document.querySelector('#canvas2');
        canvas.width = window.innerWidth;
        var c = canvas.getContext('2d');

        //        lines
        c.beginPath();
        c.moveTo(50, 300);
        c.lineTo(300, 100);
        c.lineTo(400, 300);
        c.strokeStyle = 'blue';
        c.stroke();

        //        rectangles
        c.fillStyle = '#66ccff';
        c.fillRect(100, 100, 100, 100);
        c.fillStyle = '#ffcc66';
        c.fillRect(210, 150, 100, 100);
        c.fillStyle = '#ff66cc';
        c.fillRect(310, 50, 100, 100);

        //        arc / circles
        c.beginPath();
        c.arc(300, 300, 30, 0, Math.PI * 2, false);
        c.strokeStyle = '#cc66ff';
        c.stroke();

        for (var i = 0; i <= 100; i++) {
          var x = Math.random() * window.innerWidth;
          var y = Math.random() * 300;
          var arc = Math.PI * 2 * Math.random();
          c.beginPath();
          c.arc(x, y, 30, 0, arc, false);
          c.strokeStyle = '#cc66ff';
          c.stroke();
        }
      })();
    </script>
    <h3>Animate the canvas</h3>
    <p>
      Using <i>window.requestAnimationFrame</i> to call a function multiple
      times like <i>setInterval</i> method.
    </p>
    <div class="text-center">
      <canvas id="canvas3" height="300"></canvas>
    </div>
    <script>
      (function () {
        var canvas = document.querySelector('#canvas3');
        canvas.width = window.innerWidth;
        var c = canvas.getContext('2d');

        function Circle(c, x, y, dx, dy, radius) {
          this.x = x;
          this.y = y;
          this.dx = dx;
          this.dy = dy;
          this.radius = radius;
          this.sign_x = 1;
          this.sign_y = 1;

          this.draw = function () {
            c.beginPath();
            c.arc(this.x, this.y, this.radius, 0, Math.PI * 2, false);
            c.strokeStyle = '#66ccff';
            c.stroke();
          };
          this.update = function () {
            if (
              this.x + this.radius / 2 > window.innerWidth ||
              this.x - this.radius / 2 <= 0
            ) {
              this.sign_x = -this.sign_x;
            }
            if (
              this.y + this.radius / 2 > 300 ||
              this.y - this.radius / 2 <= 0
            ) {
              this.sign_y = -this.sign_y;
            }
            this.x += this.dx * this.sign_x;
            this.y += this.dy * this.sign_y;

            this.draw();
          };
        }

        var circleArray = [];
        for (var i = 0; i < 100; i++) {
          var radius = Math.random() * 20 + 5;
          var x = Math.random() * (window.innerWidth - radius * 2) + radius;
          var y = Math.random() * (300 - radius * 2) + radius;
          var dx = (Math.random() - 0.5) * 3 + 3;
          var dy = (Math.random() - 0.5) * 3 + 3;

          circleArray.push(new Circle(c, x, y, dx, dy, radius));
        }

        function animate() {
          window.requestAnimationFrame(animate);
          c.clearRect(0, 0, window.innerWidth, 300);
          circleArray.forEach(function (circle) {
            circle.update();
          });
        }

        animate();
      })();
    </script>
    <h3>Interactive with canvas</h3>
    <div class="text-center">
      <canvas id="canvas4" height="300"></canvas>
    </div>
    <script>
      (function () {
        var canvas = document.querySelector('#canvas4');
        canvas.width = window.innerWidth;
        var c = canvas.getContext('2d');

        var mouse = {
          x: null,
          y: null,
        };
        var colors = ['#66ccff', '#ffaacc', '#ff1100', '#4411aa'];

        canvas.addEventListener('mousemove', function (event) {
          console.log(event);
          mouse.x = event.offsetX;
          mouse.y = event.offsetY;
        });
        window.addEventListener('resize', function () {
          canvas.width = window.innerWidth;
          init();
        });

        function Circle(c, x, y, dx, dy, radius, color) {
          this.x = x;
          this.y = y;
          this.dx = dx;
          this.dy = dy;
          this.radius = radius;
          this.base_radius = radius;
          this.max_radius = radius * 1.5;
          this.color = color;
          this.sign_x = 1;
          this.sign_y = 1;

          this.draw = function () {
            c.beginPath();
            c.arc(this.x, this.y, this.radius, 0, Math.PI * 2, false);
            c.fillStyle = this.color;
            c.fill();
          };
          this.update = function () {
            if (
              this.x + this.radius / 2 > window.innerWidth ||
              this.x - this.radius / 2 <= 0
            ) {
              this.sign_x = -this.sign_x;
            }
            if (
              this.y + this.radius / 2 > 300 ||
              this.y - this.radius / 2 <= 0
            ) {
              this.sign_y = -this.sign_y;
            }
            this.x += this.dx * this.sign_x;
            this.y += this.dy * this.sign_y;

            if (
              Math.abs(mouse.x - this.x) < 50 &&
              Math.abs(mouse.y - this.y) < 50
            ) {
              if (this.radius < this.max_radius) {
                this.radius += 1;
              }
            } else if (this.radius > this.base_radius) {
              this.radius -= 1;
            }
            this.draw();
          };
        }

        var circles = [];
        function init() {
          circles = [];
          for (var i = 0; i <= 100; i++) {
            var radius = Math.random() * 20 + 5;
            var x = Math.random() * (window.innerWidth - radius * 2) + radius;
            var y = Math.random() * (300 - radius * 2) + radius;
            var dx = Math.random() - 0.5;
            var dy = Math.random() - 0.5;
            var color = colors[Math.floor(Math.random() * colors.length)];

            circles.push(new Circle(c, x, y, dx, dy, radius, color));
          }
        }

        function interactive() {
          window.requestAnimationFrame(interactive);
          c.clearRect(0, 0, window.innerWidth, 300);
          circles.forEach(function (circle) {
            circle.update();
          });
        }

        init();
        interactive();
      })();
    </script>
  </body>
</html>
